<nav class="navbar navbar-expand-lg navbar-light " id="navbr">
  <a class="navbar-brand" href="#">starttrap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-text" id="navbarText">
    <ul class="navbar-nav ml-auto mr-5  text-center">
      <li class="nav-item ">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  >Soultions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Features</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Skillss</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Teams</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Reviews</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Pricing</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="#">Blog</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>

  </div>

</nav>
<hr style="margin-top:0px;margin-bottom:0px">
 

<!-- //////sidepart -->

<div class="container-fluid"  style="background-color: #314674;padding-top:10px;padding-bottom:5rem ">
  <div class="row" >
    <div class="col-lg-5  col-md-5  col-sm-12  ">
      <!-- <div class="slideimg"> -->
       
       <img src="../assets/img1.jpg" class="img-fluid mainimg slideimg" alt="Responsive image" width="500" height="600">
     <!-- </div> -->
      </div> 


     <div class="col-lg-7  col-md-7  col-sm-12   text-center">
    
    



      <div class="headingTitle">
        <div class="heading  mt-5 ">
            <h2 class="heading-title">Promt your mobile app</h2> 
              <h2 class="heading-subtitle">with this landing page</h2>
          </div>
      
          <button mat-raised-button  class="buybtn mt-5">Send Us</button>
          <button mat-raised-button  class="learnbtn mt-5  ml-5">Learn More</button>
        </div>
</div>  
</div>
</div>

<!-- end of side part -->

<!-- aboutus -->
<div class="container  aboutUsPage">
  <div class="aboutUs text-center">
    <h3><span style="opacity:0.7">About</span> Startap</h3>
    <p  style="font-size:0.8rem">Lorem ipsum, or lipsum as it is sometimes known, is dummy .</p>

  </div>  

  <div class="row mt-3">
    <div class="col-lg-6 col-md-6  col-sm-12">
        <video width="300" height="400" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
       
          </video>
      </div>


      <div class="col-lg-6 col-md-6  col-sm-12">
        <div class="abouttitle">
          <p  style="font-size:1.5rem; font-family:sans-serif;">Simple and fast for your business</p>
        </div>
        <div class="aboutUshr">
          <hr>
       </div> 
       
       <p>
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts.
       </p>  

       <div class="col-12">
    <div class="row">
      <div class="col-lg-7  col-md-7 col-sm-12  col-xs-12">
        <div class="android">
          <i class="fa fa-android" aria-hidden="true"  style="padding:10px"></i>
          <span style="font-size:15px">Android</span>
          <span style="opacity:.8;font-size:13px">+2500 downloads</span>
          <hr>
          </div>

          <div class="apple">
              <i class="fa fa-apple" aria-hidden="true"  style="padding:10px"></i>
              <span style="font-size:15px">IOS</span>
              <span style="opacity:.8;font-size:13px">+2000 downloads</span>
              <hr>
              </div>

              <div class="windows">
                  <i class="fa fa-windows" aria-hidden="true"  style="padding:10px"></i>
                  <span style="font-size:15px">Windows</span>
                  <span style="opacity:.8;font-size:13px">+2000 downloads</span>
                  <hr>
                  </div>

              
        
      </div>

      <div class="col-lg-5  col-md-5 col-sm-12  col-xs-12">
        <h4  style="font-family: sans-serif">A smart solutions</h4>
        <p style="font-size:10px">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts.
        </p>
        </div>


        </div> 



       
   </div> 

 

</div>
</div>
</div>


<!-- end of about us -->

<!-- features -->
<div class="container-fluid  featurecontent">
<div class="features  ">
  <div class="featurehead text-center">
    <h2 style="font-family: sans-serif"  class="headfeature"><span style="opacity: 0.8">The app</span> features</h2>
<p style="font-size:10px"> 
  Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
</p>
    </div>

 </div> 

 <div class="row">
   <div class="col-lg-4 col-md-4 col-sm-12 mt-5 ">
      <p style="font-size: 20px;font-family:sans-serif">Lorem Ipsum
         <span style="font-size:20px;padding:5px"> <i class="fa fa-rocket"></i></span>
      </p>
      <p style="font-size:12px">
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print.
      </p>


      <p style="font-size: 20px;font-family:sans-serif">Lorem Ipsum
          <span style="font-size:20px;padding:5px"> <i class="fa fa-rocket"></i></span>
       </p>
       <p style="font-size:12px">
           Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print.
       </p>


       <p style="font-size: 20px;font-family:sans-serif">Lorem Ipsum
          <span style="font-size:20px;padding:5px"> <i class="fa fa-rocket"></i></span>
       </p>
       <p style="font-size:12px">
           Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print.
       </p>



     </div>

     <div class="col-lg-4 col-md-4 col-sm-12  featurepic text-center " style="padding-top:20px;">
       <h4>
         <span style="font-family:sans-serif;font-weight:300;color:white">Welcome,</span>
            <span style="color:green;font-family:sans-serif;font-weight:300">Jennifer</span>
       </h4>

       <div class="headimg mt-3">
          <img src="../assets/face.jpg" class="img-fluid mainimg" alt="Responsive image" width="500" height="500">
        </div>


        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Your Name" [formControl]="nameFormControl">
              <mat-error *ngIf="nameFormControl.hasError('text') && !nameFormControl.hasError('required')">
                Enter your Name
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('required')">
                *Required
              </mat-error>
            </mat-form-field><br>
      
      
      
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Your Email" [formControl]="emailFormControl">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Enter your Email
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                *Required
              </mat-error>
            </mat-form-field>
    
      
      
         
      
       <div>
            <button mat-raised-button color="accent" class="formbtn mt-3">Login</button>
      </div>
          </form>



      </div>

      <div class="col-lg-4 col-md-4 col-sm-12  mt-5 ">

          <p style="font-size: 20px;font-family:sans-serif">
              <span style="font-size:20px;padding:5px"> <i class="fa fa-rocket"></i></span>Lorem Ipsum
           
           </p>
           <p style="font-size:12px">
               Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print.
           </p>
     
     
           <p style="font-size: 20px;font-family:sans-serif">
              <span style="font-size:20px;padding:5px"> <i class="fa fa-rocket"></i></span>Lorem Ipsum
              
            </p>
            <p style="font-size:12px">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print.
            </p>
     
     
            <p style="font-size: 20px;font-family:sans-serif">
                <span style="font-size:20px;padding:5px"> <i class="fa fa-rocket"></i></span>Lorem Ipsum
              
            </p>
            <p style="font-size:12px">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print.
            </p>
     
     
     
        </div>
 </div>  
 </div>
<!-- end of featres -->


<!-- our team -->
<div class="container-fluid teamContent">
    <div class="team  ">
        <div class="featurehead text-center">
          <h2 style="font-family: sans-serif"  class="headfeature"><span style="opacity: 0.8;color:white">Our</span>
            <span style="color:white"> Team</span>
          </h2>
      <p style="font-size:10px"> 
        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print
      </p>
          </div>
      
       </div> 

<div class="container">
  <div class="row">
       <div class="col-lg-4  col-md-4  col-sm-12  text-center">
         <p style="color:white;font-size:20px">John Corner</p>

         <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image text-center">
                  <div class="headimg text-center">
                      <img src="../assets/face.jpg" class="img-fluid mainimg" alt="Responsive image" width="600" height="500">
          
                    </div>
              </div>
              
            </mat-card-header>
           
            <mat-card-content>
              <p class="customer-sub-para text-center mt-5">
                “Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi voluptas vero iusto fuga quos totam eius,
                atis magnam tempora doloribus . ”
              </p>
            </mat-card-content>
            <mat-card-actions>
         <div class="fasicon">
            <div  class="facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
           </div>  
           
           <div  class="facebook">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
         </div> 

         <div  class="facebook">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
       </div> 

       <div  class="facebook">
          <i class="fa fa-envelope-square" aria-hidden="true"></i>
     </div> 
     </div>
            </mat-card-actions>
          </mat-card>
        </div> 


        <div class="col-lg-4  col-md-4  col-sm-12  text-center">
            <p style="color:white;font-size:20px">John Corner</p>
   
            <mat-card class="example-card">
               <mat-card-header>
                 <div mat-card-avatar class="example-header-image text-center">
                     <div class="headimg text-center">
                         <img src="../assets/face.jpg" class="img-fluid mainimg" alt="Responsive image" width="600" height="500">
               
                       </div>
                 </div>
                 
               </mat-card-header>
              
               <mat-card-content>
                 <p class="customer-sub-para text-center mt-5">
                   “Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi voluptas vero iusto fuga quos totam eius,
                   atis magnam tempora doloribus . ”
                 </p>
               </mat-card-content>
               <mat-card-actions>
            <div class="fasicon">
               <div  class="facebook">
                   <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </div>  
              
              <div  class="facebook">
                 <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </div> 
   
            <div  class="facebook">
               <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </div> 
   
          <div  class="facebook">
             <i class="fa fa-envelope-square" aria-hidden="true"></i>
        </div> 
        </div>
               </mat-card-actions>
             </mat-card>
           </div> 

           <div class="col-lg-4  col-md-4  col-sm-12 text-center">
              <p style="color:white;font-size:20px">John Corner</p>
     
              <mat-card class="example-card  text-center">
                 <mat-card-header>
                   <div mat-card-avatar class="example-header-image ">
                       <div class="headimg text-center cardimg">
                     
                           <img src="../assets/face.jpg" class="img-fluid mainimg" alt="Responsive image" >
                    
                        
                          </div>
                   </div>
                   
                 </mat-card-header>
                
                 <mat-card-content>
                   <p class="customer-sub-para text-center mt-5">
                     “Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi voluptas vero iusto fuga quos totam eius,
                     atis magnam tempora doloribus . ”
                   </p>
                 </mat-card-content>
                 <mat-card-actions>
              <div class="fasicon">
                 <div  class="facebook">
                     <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>  
                
                <div  class="facebook">
                   <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </div> 
     
              <div  class="facebook">
                 <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div> 
     
            <div  class="facebook">
               <i class="fa fa-envelope-square" aria-hidden="true"></i>
          </div> 
          </div>
                 </mat-card-actions>
               </mat-card>
             </div> 

</div>




            </div>

  </div>
<!-- end of our team -->

